/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 最小宽度 */
    min-width: 1366px;
}

/* 面包屑样式附加 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 卡片样式附加 */
.el-card {
  /* 边框阴影 权限覆盖*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* table样式附加 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
